# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build outputs
dist/
build/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Coverage & test
coverage/
.nyc_output/

# Caches & temp
.tmp/
temp/
tmp/
.cache/
.eslintcache

# Editors/OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Uploads
uploads/
